/* Basic styles
-------------------------------------------------*/
#login h1 a, .login h1 a {
    height: 110px !important;
    width: 320px !important;
    background-size: 320px 147px !important;
}

